/* Elyass Jerari */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #2e2e2e;
	font-family: 'Open Sans Condensed', sans-serif;
}

.contenidor {
	width: 90%;
	max-width: 1000px;
	margin: auto; 
}

h1 {
	margin: 20px 0;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #1b4a81;
	font-weight: black;
}

.contenidor .articles {
	margin-bottom: 20px;
}

.contenidor .articles ul {
	list-style: none;
}

.contenidor .articles ul li {
	padding:15px 10px;
	border-bottom: 1px solid #c8c8c8;
}

.paginacio ul {
	list-style: none;
}

.paginacio ul li {
	display: inline-block;
	margin-right: 10px; 
}

.paginacio ul .active a {
	background: #2580b4;
}

.paginacio ul .disabled {
	background: #c2bfbf;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 2px 2px;
	cursor:not-allowed;
	color:#fff;
	text-decoration: none;
}

.paginacio ul li a {
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px 20px;
	background: #424242;
	color:#fff;
	text-decoration: none;
}

.paginacio ul li a:hover {
	text-decoration: none;
	background: #399228;
}
select {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.header button {
	background-color: #424242;
	color : white;
	float: right;
	margin-right: 5px;
	border-radius: 4px;
}
.header p {
	color: #2580b4;
	float: right;
	margin-right: 5px;
}
.header a {
	color :#424242; 
	float: right;
	margin-left: 5px;
	margin-right: 12px;
}

.login{
	margin-top: 8%;
}
button{
	margin-top: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 19px;
	padding: 10px;
}
button:hover{
	cursor: pointer;
}

.bttLogin{
	margin-top: 10px;
	font-size: 15px;
}

.bttRegistre{
	margin-top: 10px;
	font-size: 15px;
	width: 17%;
}
.centrarFormulari{
	font-size: 20px;
	border: solid 1px black;
	border-radius: 10px;
	padding: 1%;
	width: 400px;
	margin-left: 39%;
}
input{
	width: 98%;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.oblidat{
	margin-top: 10px;
	font-size: 15px;
}
._container{
	max-width: 450px;
	background-color: #ffffff;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid #cccccc;
	border-radius: 2px;
}
._container.btn{
	text-align: center;
}
.heading{
	text-align: center;
	color: #4d4d4d;
	text-transform: uppercase;
}
.login-with-google-btn {
	transition: background-color 0.3s, box-shadow 0.3s;
	padding: 12px 16px 12px 42px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgb(0 0 0 / 4%), 0 1px 1px rgb(0 0 0 / 25%);
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: #4a4a4a;
	background-repeat: no-repeat;
	background-position: 12px 11px;
	text-decoration: none;
}
.login-with-google-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
	background-color: #000000;
}
.login-with-google-btn:focus {
	outline: none;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
	filter: grayscale(100%);
	background-color: #ebebeb;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: not-allowed;
}

.login-with-github-btn {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgb(0 0 0 / 4%), 0 1px 1px rgb(0 0 0 / 25%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #333;
    text-decoration: none;
}
.login-with-github-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-github-btn:active {
    background-color: #000000;
}
.login-with-github-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
.login-with-github-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
